<div class="container">
  <p>Olá, {{name}}</p>
  <p>Parece que uma solicitação de <strong>redefinição de senha</strong> foi enviada por seu e-mail: {{email}}</p>
  <p>Se foi você, <a href="{{link}}" target="_blank" rel="noopener noreferrer" >clique aqui</a> para ser redirecionado para escolher uma nova senha</p>
  <p>Se não foi você, pode descartar este e-mail.</p>
  <p>Obrigado!<br /><strong>Equipe GoBaber</strong> ✂️</p>
</div>

<style>
  .container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
